/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q             &kp W  &kp E          &kp R        &kp T               &kp Y               &kp U         &kp I          &kp O    &kp P                  &trans
&trans  &kp A             &kp S  &kp D          &kp F        &kp G               &kp H               &kp J         &kp K          &kp L    &kp SEMI               &trans
&trans  &mt LEFT_SHIFT Z  &kp X  &kp C          &kp V        &kp B               &kp N               &kp M         &kp COMMA      &kp DOT  &mt RIGHT_SHIFT SLASH  &trans
                                 &mt LCTRL TAB  &lt 1 SPACE  &mt LEFT_WIN ESC    &mt LEFT_ALT ENTER  &lt 2 DELETE  &kp BACKSPACE
            >;
        };

        upper {
            bindings = <
&trans  &kp ASTERISK        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS      &none   &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)      &kp LS(LEFT_BRACKET)  &kp LEFT_BRACKET  &trans
&trans  &kp COMMA           &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PERIOD    &none   &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS  &kp LS(APOSTROPHE)    &kp APOSTROPHE    &trans
&trans  &kp RA(LEFT_SHIFT)  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS     &none   &kp RIGHT_BRACKET      &kp BACKSLASH          &kp GRAVE             &kp LS(GRAVE)     &trans
                                          &kp NUMBER_0  &trans        &trans        &trans  &mo 3                  &trans
            >;
        };

        lower {
            bindings = <
&trans  &kp Q             &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P                  &trans
&trans  &kp A             &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI               &trans
&trans  &mt LEFT_SHIFT Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH  &trans
                                 &kp LGUI  &mo 0  &kp SPACE    &kp RET  &mo 0  &kp RALT
            >;
        };

        extra {
            bindings = <
&trans  &kp Q             &kp W  &kp E          &kp R        &kp T               &kp Y               &kp U         &kp I          &kp O    &kp P                  &trans
&trans  &kp A             &kp S  &kp D          &kp F        &kp G               &kp H               &kp J         &kp K          &kp L    &kp SEMI               &trans
&trans  &mt LEFT_SHIFT Z  &kp X  &kp C          &kp V        &kp B               &kp N               &kp M         &kp COMMA      &kp DOT  &mt RIGHT_SHIFT SLASH  &trans
                                 &mt LCTRL TAB  &lt 1 SPACE  &mt LEFT_WIN ESC    &mt LEFT_ALT ENTER  &lt 2 DELETE  &kp BACKSPACE
            >;
        };
    };
};
