/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&lt { tapping-term-ms = <150>; };

&mt { tapping-term-ms = <150>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q             &kp W  &kp E          &kp R        &kp T               &kp Y               &kp U         &kp I          &kp O    &kp P                  &trans
&trans  &kp A             &kp S  &kp D          &kp F        &kp G               &kp H               &kp J         &kp K          &kp L    &kp SEMI               &trans
&trans  &mt LEFT_SHIFT Z  &kp X  &kp C          &kp V        &kp B               &kp N               &kp M         &kp COMMA      &kp DOT  &mt RIGHT_SHIFT SLASH  &trans
                                 &mt LCTRL TAB  &lt 1 SPACE  &mt LEFT_WIN ESC    &mt LEFT_ALT ENTER  &lt 2 DELETE  &kp BACKSPACE
            >;
        };

        upper {
            bindings = <
&trans  &kp ASTERISK   &kp NUMBER_7  &kp NUMBER_8   &kp NUMBER_9  &kp PLUS        &none   &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)      &kp LS(LEFT_BRACKET)  &kp LEFT_BRACKET  &trans
&trans  &mt COMMA DOT  &kp NUMBER_4  &kp NUMBER_5   &kp NUMBER_6  &kp NUMBER_0    &none   &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS  &kp LS(APOSTROPHE)    &kp APOSTROPHE    &trans
&trans  &kp RA(Q)      &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &kp MINUS       &none   &kp RIGHT_BRACKET      &kp BACKSLASH          &kp GRAVE             &kp LS(GRAVE)     &trans
                                     &kp BACKSPACE  &trans        &kp ENTER       &trans  &mo 3                  &trans
            >;
        };

        lower {
            bindings = <
&trans  &kp RA(Q)             &kp RA(W)        &kp PLUS   &kp ASTERISK  &kp LS(NON_US_BSLH)    &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &kp C_VOLUME_UP    &trans
&trans  &kp NON_US_BACKSLASH  &kp UNDERSCORE   &kp MINUS  &kp EQUAL     &kp AMPERSAND          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp C_VOLUME_DOWN  &trans
&trans  &kp AT_SIGN           &kp EXCLAMATION  &kp HASH   &kp DOLLAR    &kp PERCENT            &kp F13         &kp F14         &kp F15       &kp F16          &kp CAPSLOCK       &trans
                                               &trans     &mo 3         &trans                 &trans          &trans          &trans
            >;
        };

        extra {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12    &trans        &trans        &trans        &trans        &trans      &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10    &trans        &trans        &trans        &trans        &trans      &trans
                        &trans  &trans  &trans     &trans        &trans        &trans
            >;
        };
    };
};
